.available {
    background-color: greenyellow;
    height: 200px;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
}

.not-available {
    background-color: red;
    height: 200px;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    padding-top: 9%;
}

.parking-row-top {
    margin-top: 5%;
    margin-bottom: 10%;
}

.parking-row-bottom {
    margin-top: 10%;
    margin-bottom: 10%;
}

.parking-id {
    text-align: center;
    padding-top: 9%;
    padding-bottom: 10%;
    font-size: 24px;
}

